.yibButton {
    -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
    -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
    box-shadow:inset 0px 39px 0px -24px #e67a73;
    background-color:#e4685d;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:6px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.yibButton:hover {
    background-color:#eb675e;
}
.yibButton:active {
    position:relative;
    top:1px;
}
table.yibTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 40%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.yibTable td, table.yibTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.yibTable tbody td {
    font-size: 14px;
}
table.yibTable thead {
    background: #0073aa;
    border-bottom: 2px solid #444444;
}
table.yibTable thead th {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.yibTable thead th:first-child {
    border-left: none;
}

table.yibTable tfoot td {
    font-size: 14px;
}
table.yibTable tfoot .links {
    text-align: right;
}
table.yibTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}